.header_container {
  background-color: rgb(33, 133, 208);
  width: 100% !important;
  height: 400px !important;
}

.header_image {
  margin-top: 50px;
  transform: scale(0.8);
}

@media only screen and (max-width: 700px) {
  .header_container {
    transform: scale(1.1);
  }
  .header_container {
    height: 30% !important;
  }
  .footer {
    transform: scale(1.1);
  }
}

.modal_action {
  margin: auto 0 !important;
}

.footer {
  text-align: center;
  padding: 15px;
  width: 105% !important;
  z-index: 1;
  background-color: rgb(33, 133, 208);
}

.footer_icon {
  padding-right: 20px !important;
  padding-left: 20px !important;
  transition: all 0.2s ease-in-out !important;
}

.footer_icon:hover {
  padding-right: 20px !important;
  padding-left: 20px !important;
  transform: scale(1.2);
  cursor: pointer;
}

.loading_segment {
  height: 150px;
  border: 0px !important;
}

.uppercase_header {
  text-transform: uppercase;
  font-variant: small-caps;
  margin: 0 auto;
  text-align: left !important;
  padding-top: 10px;
}

.results_list {
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.list_description {
  padding-top: 12px;
  text-align: left !important;
}

br {
  display: block;
  content: '';
  margin-top: 80px;
}

p {
  font-size: 17px;
}
