.header_container {
  background-color: rgb(37, 124, 200);
  width: 100% !important;
}

.header_image {
  margin: 0 auto;
  padding: 20px;
  transform: scale(0.8);
}

.footer {
  margin-top: 40px;
  margin-left: -10px;
  text-align: center;
  padding: 15px;
  width: 105% !important;
  z-index: 1;
}

.my_list_v1 {
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.loading_segment {
  height: 150px;
  border: 0px !important;
}

.uppercase_header {
  text-transform: uppercase;
  font-variant: small-caps;
  margin: 0 auto;
  text-align: left !important;
  padding-top: 10px;
}

.list_description {
  padding-top: 12px;
  text-align: left !important;
}
